{% extends 'emailWrapper.jinja2' %}
{% block content %}
<p>A Credit Record update has occurred within the Low Carbon Fuel Standard portal.</p>
<p>For more details, please go to: <a href="https://lowcarbonfuels.gov.bc.ca/credit-records">https://lowcarbonfuels.gov.bc.ca/credit-records</a></p>
{% endblock %}
